<form id="set-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="input-container max-width name-input-container">
        <input class="name-input" type="text" id="name" name="name" [ngModel]=editingSet?.name required #name
            placeholder="Name your Set">
    </div>
    <div class="grid-container" *ngIf="editingSet?.pokemon;">
        <app-pokemon-item (click)="removePokemon(pokemon)" *ngFor="let pokemon of editingSet.pokemon; let i = index" [pokemon]="pokemon"
            [index]="i"></app-pokemon-item>
    </div>
    <div class="input-container max-width">
        <button class="save-btn" type="submit" [disabled]="!f.valid">Save Set</button>
    </div>
    <div class="input-container max-width">
        <button (click)="onDeleteSet(editingSet)" class="del-btn" type="button" [disabled]="!f.valid">Delete Set</button>
    </div>
</form>

<form id="search" (ngSubmit)="onSearch(s)" #s="ngForm">
    <div class="filter-container">
        <div class="max-width">
            <label class="search-label" for="type">Search by Type</label>
            <select id="searchType" name="searchType" #searchType ngModel="normal">
                <option value="normal">Normal</option>
                <option value="fighting">Fighting</option>
                <option value="flying">Flying</option>
                <option value="poison">Poison</option>
                <option value="ground">Ground</option>
                <option value="rock">Rock</option>
                <option value="bug">Bug</option>
                <option value="ghost">Ghost</option>
                <option value="steel">Steel</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="grass">Grass</option>
                <option value="electric">Electric</option>
                <option value="psychic">Psychic</option>
                <option value="ice">Ice</option>
                <option value="dragon">Dragon</option>
                <option value="dark">Dark</option>
                <option value="fairy">Fairy</option>
            </select>
        </div>
        <div class="input-container max-width">
            <button class="search-btn" type="submit" [disabled]="!s.valid">Search</button>
        </div>
    </div>
</form>

<div class="results">
    <p id="search-info"></p>
    <div class="search-results grid-container" *ngIf="pokemonResults.length > 1;">
        <app-pokemon-result (click)="addPokemon(pokemon)" *ngFor="let pokemon of pokemonResults; let i = index"
            [pokemon]="pokemon" [index]="i"></app-pokemon-result>
    </div>
</div>