.input-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.name-input {
    width: 100%;
    margin-top: 2rem;
    border: 2px solid #021E73;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 3rem;
    color: #021E73;
    border-radius: 4rem;
}

.save-btn {
    width: 100%;
    border: 2px solid #021E73;
    padding: 1rem;
    font-size: 2rem;
    color: #021E73;
    border-radius: 4rem;
    transition: all 0.3s ease-in-out;
}

.save-btn:hover {
    border: 2px solid white;
    color: white;
    background-color: #021E73;
}

.save-btn:active {
    border: 2px solid #F2B705;
    background-color: #F2B705;
}

.del-btn {
    width: 100%;
    border: 2px solid #F23005;
    padding: 1rem;
    font-size: 2rem;
    color: #F23005;
    border-radius: 4rem;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.del-btn:hover {
    border: 2px solid white;
    color: white;
    background-color: #F23005;
}

.del-btn:active {
    border: 2px solid #F2B705;
    background-color: #F2B705;
}

.filter-container {
    background-color: #F2B705;
}

.search-name {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 4rem;
    color: black;
    padding-left: 2rem;
}

label {
    margin: 0.75rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.search-btn {
    width: 100%;
    border: 2px solid white;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    border-radius: 4rem;
    background-color: #021E73;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.search-btn:hover {
    border: 2px solid #021E73;
    color: #021E73;
    background-color: white;
}

.search-btn:active {
    border: 2px solid black;
    background-color: black;
    color: white;
}

select {
    color: black;
    border: 2px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
